/* GENERICS SET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
.header {
    height: 40px;
    background-color: #000000;
}
.header-text {
    text-align: right;
    color: white;
    padding: 5px 5px;
}

.header-text > button {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
    color: white;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 6px;
}

/* MAIN */

.main-wrapper {
    overflow: auto;
    height: calc(100vh - 40px - 75px);
    background-color: #000000;
  }

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px 10px;
    margin: 10px 0px;
}

.video-card {
    width: 250px;
    height: 180px;
    position: relative;
}

.labels-name {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 0px;
    color: white;
    font-weight: bold;
    padding: 4px 7px;
    backdrop-filter: brightness(0.6);
  }

  .share-icon {
    color: greenyellow;
  }

/* FOOTER */
.footer {
    height: 75px;
    background-color: #232323;
    color: white;
  }

  .container-footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .footer-left {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    padding-left: 30px;
  }

  .icon-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-text p {
    font-size: 14px;
    padding-top: 4px;
  }

  .arrow-up{
    font-size: 1rem;
  }

  .footer-center {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 24px;
    font-size: 30px;
    padding-left: 10px;
  }

  .footer-right {
    height: 100%;
    backdrop-filter: brightness(0.6);    
    color: red;
    line-height: 75px;
    text-align: center;
    padding: 0px 30px;
  }
  